@inject NavigationManager NavigationManager

<div class="component" @onclick=NavigateToAccount>
	Account name: @GetAccount().AccountName
	Account holder: @GetAccount().AccountHolderName
	Current balance: £@GetAccount().CurrentValue
</div>

@code {
	[Parameter]
	[EditorRequired]
	public Account? Account { get; set; }

	private Account GetAccount()
	{
		return Account ?? throw new NullReferenceException("Account not found");
	}

	private void NavigateToAccount()
	{
		NavigationManager.NavigateTo($"/accountdetails/{GetAccount().AccountId.ToString()}");
	}
}
