@inherits AccountComponentBase
@inject NavigationManager NavigationManager

<div class="component" @onclick=NavigateToAccount>
	Account name: @GetAccount().AccountName
	Account holder: @GetAccount().AccountHolderName
	Current balance: £@GetAccount().CurrentValue
</div>

@code {
	private void NavigateToAccount()
	{
		NavigationManager.NavigateTo($"/accountdetails/{GetAccount().AccountId.ToString()}");
	}
}
