@inherits AccountComponentBase
@inject NavigationManager NavigationManager

<div class="component clickable" @onclick=NavigateToAccount>
	Account name: @GetAccount().AccountName /
	Account holder: @GetAccount().AccountHolderName /
	Current balance: £@GetAccount().CurrentValue.ToString("F2")
</div>

@code {
	private void NavigateToAccount()
	{
		NavigationManager.NavigateTo($"/accountdetails/{GetAccount().AccountId.ToString()}");
	}
}
