@inherits AccountComponentBase
@inject IAccountTracker AccountTracker

<div class="component">
	<p>Please enter some details for your transaction:</p>
	<div>
		<label for="amount">Amount (GBP£):</label>
		<InputText id="amount" @bind-Value="_amount" />
	</div>

	<button @onclick=Submit>Submit</button>
</div>

@code {
	private string? _amount;

	[Parameter]
	public EventCallback DoOnSubmit { get; set; }

	private async void Submit()
	{
		if (decimal.TryParse(_amount, out decimal parsedAmount) && parsedAmount > 0m)
			AccountTracker.TransferInExternal(GetAccount(), parsedAmount);

		await DoOnSubmit.InvokeAsync();
	}
}
