@inherits AccountComponentBase
@inject IAccountTracker AccountTracker

<div class="component">
	<p>Please enter some details for your transaction:</p>

	<div>
		<label for="targetAccount">To account:</label>
		<InputSelect id="targetAccount" @bind-Value=_optionKey>
			@foreach (var account in GetAllOtherAccounts())
			{
				<option value="@account.AccountId.ToString()">@account.AccountName</option>
			}
			<option value="@PAY_EXTERNAL_OPTION_KEY">Pay external</option>
		</InputSelect>
	</div>

	<div>
		<label for="amount">Amount (GBP£):</label>
		<InputText id="amount" @bind-Value="_amount" />
	</div>

	<button @onclick=Submit>Submit</button>
</div>

@code {
	private string? _optionKey;
	private const string PAY_EXTERNAL_OPTION_KEY = "--";
	private string? _amount;

	[Parameter]
	public EventCallback DoOnSubmit { get; set; }

	private List<Account> GetAllOtherAccounts()
	{
		return AccountTracker.GetAccounts()
			.Where(a => a.AccountId != GetAccount().AccountId)
			.ToList();
	}

	private async void Submit()
	{
		if (decimal.TryParse(_amount, out decimal parsedAmount)
			&& parsedAmount > 0m
			&& _optionKey != null)
		{
			if (_optionKey == PAY_EXTERNAL_OPTION_KEY)
				AccountTracker.TransferOutExternal(GetAccount(), parsedAmount);
			else
			{
				Account? target = GetAllOtherAccounts()
					.FirstOrDefault(a => a.AccountId.ToString() == _optionKey);

				if (target != null)
					AccountTracker.Transfer(GetAccount(), target, parsedAmount);
			}
		}

		await DoOnSubmit.InvokeAsync();
	}

}
