body {
    font-family: Bahnschrift;
}

button {
    background-color: aqua;
}

button:active {
    background-color: orange;
}

table {
    border-collapse: collapse;
    margin: 5px;
}

td {
    border-block-color: black;
    border-left: solid;
    border-right: solid;
    padding: 5px;
}

.component {
    background-color: lightblue;
    border-left: 2px solid black;
    margin: 5px;
    padding: 5px;
    width: fit-content;
}

::selection {
    background-color: hotpink;
}