@page "/summary"

@inject IAccountContainer AllAccounts
@inject NavigationManager NavigationManager

<PageTitle>Account Summary</PageTitle>

<h1>ACCOUNT SUMMARY</h1>

<p>Please find details for all your accounts below.</p>

@foreach (var account in AllAccounts.Accounts)
{
	<AccountCard Account="account" />
}

<div>
	<button @onclick=ToggleAccountAdder>Add account</button>
</div>

@if (_showAccountAdder)
{
	<AccountAdder DoOnSubmit="ToggleAccountAdder" />
}

<div>
	<button @onclick=@(() => NavigationManager.NavigateTo("/"))>
		Go to Home Page
	</button>
</div>

@code {
	private bool _showAccountAdder = false;

	private void ToggleAccountAdder() => _showAccountAdder = !_showAccountAdder;
}
